/* Additional css file for bibtex citation handling */

.codeblock[style*="none"] {
    margin: 0 !important;
    padding: 0 !important;
    height: 0;
    border: none !important;
    overflow: hidden !important;
}