/* Default css file for jemdoc. */

html {
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

table#tlayout {
	border: none;
	border-collapse: separate;
	background: white;
	width: 80%;
	margin-left: 0;
	margin-right: auto;
}

* {
	box-sizing: border-box;
}

body {
	background: white;
	padding: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.02em;
	margin: 0;
	font-family: Optima, Georgia, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p, li, dd {
	overflow-wrap: anywhere;
	word-break: break-word;
}

#layout-menu {
	background: #f4f4f4;
	border: none;
	border-right: 1px solid #dddddd;
	border-bottom: none;
	margin: 0;
	padding-top: 15px;
	padding-left: 8px;
	padding-right: 15px;
	font-size: 1.0em;
	width: auto;
	white-space: nowrap;
	text-align: left;
	vertical-align: top;
}

#layout-menu td {
	background: #f4f4f4;
	vertical-align: top;
}

#layout-content {
	padding-top: 10px;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 0;
	margin: 0;
	border: none;
	background: white;
	text-align: left;
	vertical-align: top;
	width: 100%;
}

#layout-menu a {
	line-height: 1.5em;
	margin-left: 0.5em;
}

tt {
	color: green;
}

tt.tthl {
	color: black;
}

pre, tt {
	font-size: 90%;
	font-family: monaco, monospace;
}

a, a > tt {
	color: #224b8d;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px gray dotted;
}

#layout-menu a.current:link, #layout-menu a.current:visited {
	color: #022b6d;
	border-bottom: 1px gray solid;
}
#layout-menu a:link, #layout-menu a:visited, #layout-menu a:hover {
	color: #527bbd;
	text-decoration: none;
}
#layout-menu a:hover {
	text-decoration: none;
}

div.menu-category {
	border-bottom: 0px solid gray;
	margin-top: 0.8em;
	padding-top: 0.2em;
	padding-bottom: 0.1em;
	font-weight: bold;
}

div.menu-item {
	padding-left: 16px;
	padding-right: 0;
	text-indent: -16px;
	text-align: left;
}

div#toptitle {
	color: #527bbd;
	padding-bottom: .5em;
	margin-bottom: 1.3em;
	border-bottom: 1px solid gray;
}

/* Reduce space if we begin the page with a title. */
div#toptitle + h2, div#toptitle + h3 {
	margin-top: -0.7em;
}

div#subtitle {
	margin-top: 0.0em;
	margin-bottom: 0.0em;
	padding-top: 0em;
	padding-bottom: 0.1em;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}


h1, h2, h3 {
	color: #bb0000;
	margin-top: 0.7em;
	margin-bottom: 0.3em;
	padding-bottom: 0.2em;
	line-height: 1.0;
	padding-top: 0.5em;
	border-bottom: 1px solid #aaaaaa;
}

h1 {
	font-size: 165%;
}

h2 {
	padding-top: 0.8em;
	font-size: 125%;
}

h2 + h3 {
	padding-top: 0.2em;
}

h3 {
	font-size: 105%;
	border-bottom: none;
}

p {
	margin-top: 0.0em;
	margin-bottom: 0.8em;
	padding: 0;
	line-height: 1.3;
}

pre {
	padding: 0;
	margin: 0;
}

div#footer {
	font-size: small;
	border-top: 1px solid gray;
	padding-top: 0.1em;
	margin-top: 4.0em;
}

div#footer-text {
	float: left;
	padding-bottom: 8px;
}

ul, ol, dl {
	margin-top: 0.2em;
	padding-top: 0;
	margin-bottom: 0.8em;
}

dt {
	margin-top: 0.5em;
	margin-bottom: 0;
}

dl {
	margin-left: 20px;
}

dd {
	color: #222222;
}

dd > *:first-child {
	margin-top: 0;
}

ul {
	list-style-position: outside;
	list-style-type: square;
}

p + ul, p + ol {
	margin-top: -0.5em;
}

li ul, li ol {
	margin-top: -0.3em;
}

ol {
	list-style-position: outside;
	list-style-type: decimal;
}

li p, dd p {
	margin-bottom: 0.3em;
}


ol ol {
	list-style-type: lower-alpha;
}

ol ol ol {
	list-style-type: lower-roman;
}

p + div.codeblock {
	margin-top: -0.6em;
}

div.codeblock, div.infoblock {
	margin-right: 0%;
	margin-top: 1.2em;
	margin-bottom: 1.3em;
}

div.blocktitle {
	font-weight: bold;
	color: #cd7b62;
	margin-top: 1.2em;
	margin-bottom: 0.1em;
}

div.blockcontent {
	border: 1px solid silver;
	padding: 0.3em 0.5em;
}

div.infoblock > div.blockcontent {
	background: #f6f6f6;
}

div.blockcontent p + ul, div.blockcontent p + ol {
	margin-top: 0.4em;
}

div.infoblock p {
	margin-bottom: 0em;
}

div.infoblock li p, div.infoblock dd p {
	margin-bottom: 0.5em;
}

div.infoblock p + p {
	margin-top: 0.8em;
}

div.codeblock > div.blockcontent {
	background: #f6f6f6;
}

span.pycommand {
	color: #000070;
}

span.statement {
	color: #008800;
}
span.builtin {
	color: #000088;
}
span.special {
	color: #990000;
}
span.operator {
	color: #880000;
}
span.error {
	color: #aa0000;
}
span.comment, span.comment > *, span.string, span.string > * {
	color: #606060;
}

@media print {
	#layout-menu {
		display: none;
	}

}

#fwtitle {
	margin: 2px;
}

#fwtitle #toptitle {
	padding-left: 0.5em;
	margin-bottom: 0.5em;
}

#layout-content h1:first-child, #layout-content h2:first-child, #layout-content h3:first-child {
	margin-top: -0.7em;
}

div#toptitle h1, #layout-content div#toptitle h1 {
	margin-bottom: 0.0em;
	padding-bottom: 0.1em;
	padding-top: 0;
	margin-top: 0.5em;
	border-bottom: none;
}

div#toptitle, div#toptitle h1, div#toptitle a, div#subtitle, div#subtitle a {
	color: #666666;
	text-align: left;
}

div#toptitle a:hover {
	border-bottom: none;
}

div#toptitle h1 {
	color: #666666;
	margin-top: 0.1em;
	font-weight: bold;
	font-size: 25px;
}

img.eq {
	padding: 0;
	padding-left: 0.1em;
	padding-right: 0.1em;
	margin: 0;
}

img.eqwl {
	padding-left: 2em;
	padding-top: 0.6em;
	padding-bottom: 0.2em;
	margin: 0;
}

table {
	border: 2px solid black;
	border-collapse: collapse;
}

td {
	padding: 2px;
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-align: center;
	border: 1px solid gray;
}

table + table {
	margin-top: 1em;
}

tr.heading {
	font-weight: bold;
	border-bottom: 2px solid black;
}

img {
	border: none;
	max-width: 100%;
	height: auto;
}

table.imgtable, table.imgtable td {
	border: none;
	text-align: left;
}

@media (max-width: 800px) {
	body {
		padding-left: 12px;
		padding-right: 12px;
		font-size: 18px;
		line-height: 1.5;
	}

	#tlayout, #tlayout tr, #tlayout td {
		display: block;
		width: 100%;
	}

	#layout-menu {
		display: block;
		width: 100%;
		border-right: none;
		border-bottom: 1px solid #dddddd;
		white-space: normal;
		margin-bottom: 1em;
	}

	#layout-menu a {
		display: inline-block;
		margin-left: 0;
		padding: 0.25em 0.4em;
	}

	#layout-content {
		padding-left: 0.5em;
		padding-right: 0.5em;
	}

	div.menu-item {
		padding-left: 0;
		text-indent: 0;
	}

	div.menu-category {
		margin-top: 0.4em;
	}
}
